.category-name{
  display: inline-block !important;

}

.post-tags a {
  display: block;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  color: var(--secondary);
  font-size: 14px;
  line-height: 34px;
  background: var(--code-bg);
}